<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ntua-databases</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/Error404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>HotelsController</display-name>
    <servlet-name>HotelsController</servlet-name>
    <servlet-class>com.ntuadatabases.controller.HotelsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelsController</servlet-name>
    <url-pattern>/HotelsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hotelgroupscontroller</display-name>
    <servlet-name>Hotelgroupscontroller</servlet-name>
    <servlet-class>com.ntuadatabases.controller.Hotelgroupscontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hotelgroupscontroller</servlet-name>
    <url-pattern>/Hotelgroupscontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomsController</display-name>
    <servlet-name>RoomsController</servlet-name>
    <servlet-class>com.ntuadatabases.controller.RoomsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomsController</servlet-name>
    <url-pattern>/RoomsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelmailsController</display-name>
    <servlet-name>HotelmailsController</servlet-name>
    <servlet-class>com.ntuadatabases.controller.HotelmailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelmailsController</servlet-name>
    <url-pattern>/HotelmailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelphonesController</display-name>
    <servlet-name>HotelphonesController</servlet-name>
    <servlet-class>com.ntuadatabases.controller.HotelphonesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelphonesController</servlet-name>
    <url-pattern>/HotelphonesController</url-pattern>
  </servlet-mapping>
</web-app>